


<div class="text-3xl font-medium text-900 mb-3">Weather forecast</div>
<hr />
<div class="surface-0 p-4 shadow-2 border-round">
  <div *ngIf="forecasts$ | async; let forecasts">
    <div class="card grid">
      <div class="col-12">
        <p-table [value]="forecasts" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          responsiveLayout="scroll"
          [rowsPerPageOptions]="[10,25,50]">
          <ng-template pTemplate="header">
            <tr>
              <th>Date</th>
              <th>Temp. (C)</th>
              <th>Temp. (F)</th>
              <th>Summary</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-forecast>
            <tr>
              <td>{{ forecast.date }}</td>
              <td>{{ forecast.temperatureC }}</td>
              <td>{{ forecast.temperatureF }}</td>
              <td>{{ forecast.summary }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>